@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 16px;
}

body {
  position: relative;
  background-image: linear-gradient(135deg, #c11e38 10%, #220b34 100%);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.box-wrapper {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  backdrop-filter: blur(24px) saturate(100%);
  -webkit-backdrop-filter: blur(24px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5%;
  margin: 0;
}

h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 100%;
  color: white;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 150%;
  color: white;
}

.top-section {
  margin-top: 128px;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.container p {
  flex: 1;
}

.primary-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 5%;
  padding: 1rem 2rem;
  background-color: white;
  border-style: none;
  border-radius: 0.5rem;
  color: #1A2B3C;
}

.secondary-btn {
  background: linear-gradient(260.97deg, #FF1B6B 7.03%, #45CAFF 130.94%);
  position: relative;
  display: block;
  height: 3.2em;
  min-width: 8em;
  border-radius: 5px;
  border-style: none;
  color: inherit;
}

section {
  margin-top: 64px;
  margin-bottom: 64px;
}

.box {
  width: 100%;
  padding: 2rem;
  background: #750137;
  border-radius: 1rem;
  margin: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 960px;
  height: 35px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.navbar a {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0.125rem;
  background-color: black;
  border-color: #FF1B6B;
  border-style: solid;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 5%;
}

.navbar a:link {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #FF1B6B;
}